/Mystic/bin
/Mystic/obj
/Mystic.Common/bin
/Mystic.Common/obj
/Mystic/Mystic.Cache/obj
/Mystic/Mystic.Cache/bin
/mystic/Mystic.DAL/obj
/mystic/Mystic.DAL/bin
/mystic/Mystic.Data/obj
/mystic/Mystic.Data/bin
/mystic/Mystic.DTO/obj
/mystic/Mystic.DTO/bin
/mystic/Mystic.UI/obj
/mystic/Mystic.UI/bin
/mystic/Mystic.UI.Tests/obj
/mystic/Mystic.UI.Tests/bin
/Mystic/Mystic.ccproj.user
/Mystic/Mystic.v11.suo
/Mystic/Mystic.Data/Mystic.Service.REST.csproj.user
/Mystic/Mystic.DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mystic/Mystic.DTO/obj/Debug
/Mystic/Mystic.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mystic/Mystic.Data/obj/Debug
/Mystic/Mystic.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mystic/Mystic.DAL/obj/Debug
/Mystic/Mystic.Cache/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mystic/Mystic.UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mystic/Mystic.UI/obj/Debug
/Mystic/Mystic.UI.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mystic/Mystic.UI.Tests/obj/Debug
/Mystic.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mystic.v11.suo
/Mystic.ccproj.user
